<head>
  <title>Listas de Alunos</title>
</head>
<header
  class="py-3"
  style="
        background: rgb(45, 111, 131);
        background: linear-gradient(
          90deg,
          rgba(45, 111, 131, 1) 17%,
          rgba(28, 46, 76, 1) 100%
        );
      "
>
  <div class="container-fluid">
    <div class="row align-items-center">
      <div class="col-md-2 col-sm-1 col-xl-1">
        <a href="/admin" class="text-decoration-none text-white">
          <img class="img-fluid float-start" src="" alt="logo aqui" />
        </a>
      </div>
      <div class="col-md-10 col-sm-11 col-xl-11">
        <a href="admin" class="text-white text-decoration-none">
          <h1 class="text-start fs-2">academy help desk</h1>
        </a>
      </div>
    </div>
  </div>
</header>
{{> _msg}}
<main>
  {{#each aluno}}
    <p>{{this.matricula}}</p>
    <p>{{this.usuario}}</p>
    <p>{{this.senha}}</p>
    <hr />
  {{/each}}
</main>