<head>
  <title>Professor</title>
</head>
<header
  class="py-3"
  style="
        background: rgb(45, 111, 131);
        background: linear-gradient(
          90deg,
          rgba(45, 111, 131, 1) 17%,
          rgba(28, 46, 76, 1) 100%
        );
      "
>
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-2 col-sm-1 col-lg-1">
        <a href="/professor" class="text-decoration-none text-white">
          <img class="img-fluid float-start" src="" alt="logo aqui" />
        </a>
      </div>
      <div class="col-md-5 col-sm-6 col-lg-4">
        <a
          href="/professor"
          class="text-white text-decoration-none d-inline-block"
        >
          <h1 class="text-start fs-2">academy help desk</h1>
        </a>
      </div>
    </div>
  </div>
</header>
<main>
  <div class="container-fluid p-0">
    <div class="col-md-12 p-0">
      <img
        class="img-fluid m-0 p-0 shadow border-bottom"
        src="/img/estudante.jpg"
        alt="opa, erro"
        width="110%"
        style="height: 32rem"
      />
    </div>
  </div>
  <div class="container mt-5 mb-5">
    <div class="row g-5 d-flex justify-content-center">
      <div class="col-md-4 col-lg-4" style="width: 15rem">
        <a
          href="/professor/criar-chamado"
          class="text-decoration-none text-dark"
        ><div class="card rounded border-secondary">
            <div class="card-body text-center">
              <img src="/img/conferencia.png" alt="" height="40%" width="40%" />
              <p class="mt-4" style="margin: 0">Criar Chamados</p>
            </div>
          </div></a>
      </div>
      <div class="col-md-4 col-lg-4" style="width: 15rem">
        <a href="/professor/chamado" class="text-decoration-none text-dark"><div
            class="card rounded border-secondary"
          >
            <div class="card-body text-center">
              <img src="/img/conferencia.png" alt="" height="40%" width="40%" />
              <p class="mt-4" style="margin: 0">Seu Chamado</p>
            </div>
          </div></a>
      </div>
      <div class="col-md-4 col-lg-4" style="width: 15rem">
        <div class="card rounded border-secondary">
          <div class="card-body text-center">
            <img src="/img/headset.png" alt="" height="40%" width="40%" />
            <p class="mt-4" style="margin: 0">Atendimento</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-lg-4" style="width: 15rem">
        <a
          href="/professor/cadastrar-aluno"
          class="text-decoration-none text-dark"
        ><div class="card rounded border-secondary">
            <div class="card-body text-center">
              <img src="/img/aluna.png" alt="ola" height="40%" width="40%" />
              <p class="mt-4" style="margin: 0">Cadastrar Alunos</p>
            </div>
          </div></a>
      </div>
      <div class="col-md-4 col-lg-4" style="width: 15rem">
        <a href="/professor/aluno" class="text-decoration-none text-dark"><div
            class="card rounded border-secondary"
          >
            <div class="card-body text-center">
              <img src="/img/aluna.png" alt="" height="40%" width="40%" />
              <p class="mt-4" style="margin: 0">Alunos</p>
            </div>
          </div></a>
      </div>
    </div>
  </div>
</main>